.text-center{
    text-align: center;
}
.none-text-decoration{
    text-decoration: none;
}
.margin-0{
    margin: 0px;
}
.padding-0{
    padding: 0px;
}
.padding-10{
    padding: 10px;
}
.padding-x-5{
    padding-inline: 5px;
}
.padding-y-10{
    padding-block: 10px;
}
.padding-y-15{
    padding-block: 15px;
}