
$greyColors:(
    customGrey:#CCCCCC,
    skinGrey:#F1F1F1,
    boldGrey:#616161,
    paleGrey:#9E9E9E,
    normalGrey:grey
);

$blueColors:(
    turquoiseBlue:#009688  
);
$whiteColors:(
    customWhite:#fff  
);
